<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Puerto Rico 360 - Explore Puerto Rico in VR</title>
    <meta name="description" content="Explore Puerto Rico in VR">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/aframe/dist/aframe-master.js"></script>
    <script src="/scripts/aframe-animation-component/dist/aframe-animation-component.min.js"></script>
    <script src="/scripts/aframe-event-set-component/dist/aframe-event-set-component.min.js"></script>
    <script src="/scripts/aframe-layout-component/dist/aframe-layout-component.min.js"></script>
    <script src="/scripts/aframe-template-component/dist/aframe-template-component.min.js"></script>
    <script src="/scripts/aframe-ui-modal-component/dist/aframe-ui-modal-component.min.js"></script>
    <script src="/scripts/aframe-html-shader/dist/aframe-html-shader.min.js"></script>
    <script src="/scripts/components/set-image.js"></script>
</head>
<body>
